body {
  margin: 0;
}

.cover-page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
  background-size: cover;
}

.cover-page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000000; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: hsl(204, 72%, 22%); 
  border-radius: 6px;
}


scrollbar {
  width: 12px;
}








